---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Colors
$background: #2D2D2D;

$bronco-brown: #630;
$bronco-gold: #FCC30F;

$black: #000;
$white: #FFF;

$gray: #EDEDED;
$light-gray: lighten($gray, 3%);
$dark-gray: darken($gray, 5%);

// Typography

$base-font-family: Helvetica, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.3;
$base-font-color: #000;

// Dimensions

$header-height: $base-font-size * 5;

// Sizing and Spacing

$wrapper-width: 1200px;

$standard-margin: 20px;
$standard-padding: 20px;

// Media query mixin

@mixin media-query($device) {
    @if $device == tablet {
        @media (min-width: 738px) { @content; }
    }
    @elseif $device == enormous {
        @media (min-width: 1500px) { @content; }
    }
    @else {
        @media (min-width: $wrapper-width) { @content; }
    }
}

// Other mixins

.img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    text-indent: -99999px;
    position: relative;
}

.list-standard {
    ul,
    ul *,
    ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

@import "base", "slideshows", "pages";
