.page-header{
    text-align: center;
    padding-bottom:50px;
}

.info-container{
    padding-left: 150px;
    padding-right: 150px;
    font-size: 14pt;
}

.logo{
    height: 50%;
    opacity: 0.5;
}