<div class="container">
    <img *ngIf="isPc" src="assets/_images/logo.png" class="logo">
    <div *ngIf="isPc" class="space-filler"></div>
    <div class="row">
        <div class="links" *ngIf="isPc">
            <a href="mailto: sunseeker@wmich.edu">Send us an Email</a>
            <a [routerLink]="['/donate']">Become A Sponsor</a>
            <a href="https://www.wmich.edu/">Western Michigan University</a>
            <a href="http://americansolarchallenge.org/">American Solar Challenge</a>
            <a href="http://www.worldsolarchallenge.org/">World Solar Challenge</a>
        </div>
        <a href="https://www.facebook.com/wmusolarcar">
            <img src="assets/_images/social-icons/facebook.png" class="icon">
        </a>
        <a href="https://www.flickr.com/photos/wmu-sunseeker">
        <img src="assets/_images/social-icons/flickr.png" class="icon">
        </a>
        <a href="https://github.com/SunseekerSolarCarProject">
            <img src="assets/_images/social-icons/github.png" class="icon">
        </a>
        <a href="https://www.twitter.com/wmusolarcar">
            <img src="assets/_images/social-icons/twitter.png" class="icon">
        </a>
        <a href="https://www.instagram.com/wmusolarcar">
            <img src="assets/_images/social-icons/instagram.png" class="icon">
        </a>
        <a href="https://www.pinterest.com/wmusolarcar">
            <img src="assets/_images/social-icons/pinterest.png" class="icon">
        </a>
    </div>
</div>
