<app-navbar></app-navbar>
<div class="container-fluid" *ngIf="isLoaded">
    <div class="img-container">
        <img [src]="dbService.getImage(details.Picture)" class="banner">
        <div class="img-overlay">
            <div class="overlay-title" [innerHTML]="details.Car"></div>
        </div>
    </div>
    <div class="specs">
        <div class="mechanical">
            <span class="title">Mechanical Specifications</span>
            <div *ngFor="let m of mechanical">
                <div class="row" *ngIf="m.value">
                    <span class="name" [innerText]="m.name"></span>
                    <div class="spacer"></div>
                    <span class="value" [innerHTML]="m.value"></span>
                </div>
            </div>
        </div>
        <div class="electrical">
            <span class="title">Electrical Specifications</span>
            <div *ngFor="let e of electrical">
                <div  class="row" *ngIf="e.value">
                    <span class="name" [innerText]="e.name"></span>
                    <div class="spacer"></div>
                    <span class="value" [innerHTML]="e.value"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>