.mechanical, .electrical{
    background-color: whitesmoke;
    width: 600px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    padding-right: 40px;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    font-size: 14pt;
    width: 100%;
    margin: 20px;
    :last-child {
        max-width: 400px;
        text-align: right;
    }
}

.spacer{
    flex-grow: 1;
}

.title{
    font-size: 18pt;
    text-decoration: underline;
    margin-left: 40px;
}

.specs{
    display: flex;
    justify-content: space-evenly;
}
