<app-navbar></app-navbar>
<div class="container-fluid" *ngIf="headerLoaded && carsLoaded">
    <app-header [header]="header"></app-header>
    <div class="car-table">
        <div *ngFor="let c of cars" class="car" routerLink="/cardetail/{{c.id}}">
            <img class="car-pic" [src]="dbService.getImage(c.Icon)">
            <div class="overlay">
                <p [innerText]="c.Car" class="title"></p>
                <div class="button">View Details</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>