<app-header></app-header>
<div class="container-fluid">
    <div class="img-container">
        <img [src]="image" class="banner">
        <div class="img-overlay">
        </div>
    </div>
    <div class="car-table">
        <div *ngFor="let c of carlist" class="car" routerLink="/cardetail/{{c.title}}">
            <img class="car-pic" [src]="c.picture">
            <div class="overlay">
                <p [innerText]="c.title" class="title"></p>
                <div class="button">View Details</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>