{% extends 'layouts/default.twig' %}

{% block title %}Page not Found{% endblock %}

{% block content %}
<h1>There was an Error</h1>
<p>Something went wrong on our end, we apologize for any inconvenience.</p>
{% endblock %}
