{% extends 'layouts/default.twig' %}

{% block title %}Page not Found{% endblock %}

{% block main %}
<h1>Page not Found</h1>
<p>This isn't good, we could not find the page you are looking for.</p>
{% endblock %}