---
layout: default
pageid: members
title: Meet the Team
intro: We'd like to introduce the currently active members of the 2015-2016 Sunseeker Solar Car Project.
---
<div class="wrapper">
  <div class="members__group">
    {% for member in site.data.members %}
      {% capture mod2 %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
      {% capture mod4 %}{{ forloop.index0 | modulo:4 }}{% endcapture %}

      {% if forloop.index0 != 0 %}
        {% if mod2 == '0' %}
          <div class="clear-all"></div></div>
          {% if mod4 == '0' %}
            <div class="clear-all"></div>
          {% endif %}
          <div class="members__group">
        {% endif %}
      {% endif %}

      <div class="members__member">
        <img src="{{ '/images/team-members/1415/' | prepend: site.baseurl }}{{ member.picture }}">
        <strong>
          {{ member.name }}
          {% if member.linkedin %}
            <a href="{{ member.linkedin }}" target="_blank" class="linkedin">LinkedIn Profile</a>
          {% endif %}
        </strong>
        <ul class="member__data">
          {% if member.position %}
            <li class="member__block__info">{{ member.position }}</li>
          {% endif %}
          {% if member.company %}
            <li class="member__block__info">{{ member.company }}</li>
          {% endif %}
          {% if member.department %}
            <li class="member__block__info">{{ member.department }}</li>
          {% endif %}
          {% if member.major %}
            <li class="member__block__info">{{ member.major }}</li>
          {% endif %}
          {% if member.subteam %}
            <li class="member__block__info">{{ member.subteam }}</li>
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>
  <div class="clear-all"></div>
</div>