<a name="join-the-team"></a>
<section class="join">
  <h2>Join the Team</h2>
  <p>Joining the team is easy, we welcome any Western Michigan University student who would like to join. Just show up at the meetings, and you're in! We have weekly team meetings on Wednesday, starting at 5:30 pm in room E-121 at the <a href="http://www.wmich.edu/maps/?home=engineering&bldg=214&layer=parking" target="_blank">CEAS Parkview Campus</a>.</p>
</section>
