#about {
    .timeline-imgs {
        .list-standard;

        ul li {
            width: 50%;
            display: inline-block;
            vertical-align: middle;

            img {
                max-width: 100%;
                max-height: 300px;
                box-sizing: border-box;
                display: block;
                padding: @standard-spacing / 2;
            }
        }
    }

    @media (min-width: @screen-md-min) {
        p.lead {
            margin-bottom: 0;
        }

        .timeline-imgs {
            ul li {
                width: 25%;

                img {
                    margin: @standard-spacing * 2 0;
                }

                &:first-of-type {
                    img {
                        padding-left: 0;
                    }
                }

                &:last-of-type {
                    img {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
