body#blog-main {
    .post {
        border-bottom: 1px solid #E1E1E1;
        padding-bottom: @standard-spacing;
        margin: @standard-spacing * 2 0;

        p {
            padding: @standard-spacing 0;
        }
    }
}
