<footer class="globalFooter">
    <div class="wrapper">
        <nav class="globalFooter__links">
            <h4>Connect With Us</h4>
            <ul>
                <li class="facebook"><a href="https://www.facebook.com/SunseekerSolarCar" target="_blank">Like us on Facebook</a></li>
                <li class="twitter"><a href="https://www.twitter.com/WMUSunseeker" target="_blank">Follow us on Twitter</a></li>
                <li class="flickr"><a href="https://www.flickr.com/photos/wmu-sunseeker/" target="_blank">View our Flickr Photos</a></li>
                <li class="email"><a href="mailto:%20{{ site.email }}" target="_blank">Send us an Email</a></li>
            </ul>
        </nav>
        <nav class="globalFooter__links">
            <h4>Useful Links</h4>
            <ul>
                <li><a href="{{ "/sponsors" | prepend: site.baseurl }}">Become a Sponsor</a></li>
                <li><a href="https://www.wmich.edu/" target="_blank">Western Michigan University</a></li>
                <li><a href="http://americansolarchallenge.org" target="_blank">American Solar Challenge</li>
                <li><a href="http://www.worldsolarchallenge.org" target="_blank">World Solar Challenge</a></li>
            </ul>
        </nav>
    </div>
</footer>

{% if page.js %}
    <script src="{{ site.baseurl }}/js/{{ page.js }}.js"></script>
{% endif %}

<script src="{{ site.baseurl }}/js/global.js"></script>
