<footer>
  <div class="wrapper block">
    <div class="social">
      <ul>
        <li class="facebook"><a href="https://www.facebook.com/SunseekerSolarCar" target="_blank">Like us on Facebook</a>
        <li class="twitter"><a href="https://www.twitter.com/WMUSunseeker" target="_blank">Follow us on Twitter</a>
        <li class="linkedin"><a href="https://www.linkedin.com/" target="_blank">Connect with us on LinkedIn</a>
        <li class="youtube"><a href="https://www.youtube.com/" target="_blank">Watch our YouTube Videos</a>
        <li class="flickr"><a href="https://www.flickr.com/photos/wmu-sunseeker/" target="_blank">View our Flickr Photos</a>
      </ul>
    </div>
    <div class="copyright">
      <p>Sunseeker Solar Car Project at <a href="http://www.wmich.edu/">Western Michigan University</a></p>
      <p>Please send any comments, questions, or concerns to <a href="mailto: {{ site.email }}">{{ site.email }}</a>.</p>
    </div>
    <div class="clear-all"></div>
  </div>
</footer>
