<footer class="globalFooter">
    <div class="globalFooter__socialMedia">
        <ul>
            <li class="globalFooter__socialMedia__link globalFooter__socialMedia__link--facebook"><a href="https://www.facebook.com/SunseekerSolarCar" target="_blank">Like us on Facebook</a></li>
            <li class="globalFooter__socialMedia__link globalFooter__socialMedia__link--twitter"><a href="https://www.twitter.com/WMUSunseeker" target="_blank">Follow us on Twitter</a></li>
            <li class="globalFooter__socialMedia__link globalFooter__socialMedia__link--flickr"><a href="https://www.flickr.com/photos/wmu-sunseeker" target="_blank">View our Flickr Photos</a></li>
            <li class="globalFooter__socialMedia__link globalFooter__socialMedia__link--github"><a href="https://github.com/SunseekerSolarCarProject" target="_blank">Check us out on GitHub</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <nav class="globalFooter__links">
            <h4>Useful Links</h4>
            <ul>
                <li><a href="mailto:%20{{ site.email }}" target="_blank">Send Us an Email</a></li>
                <li><a href="{{ "/sponsors" | prepend: site.baseurl }}">Become a Sponsor</a></li>
                <li><a href="https://www.wmich.edu/" target="_blank">Western Michigan University</a></li>
                <li><a href="http://americansolarchallenge.org" target="_blank">American Solar Challenge</li>
                <li><a href="http://www.worldsolarchallenge.org" target="_blank">World Solar Challenge</a></li>
            </ul>
        </nav>
        <div class="globalFooter__thankYou">
            <p>Thank you for your interest in our team. If you have any comments, questions, or concerns, please <a href="mailto:sunseeker@wmich.edu">send us an email</a>.</p>
        </div>
    </div>
</footer>

{% if page.js %}
    <script src="{{ site.baseurl }}/js/{{ page.js }}.js"></script>
{% endif %}

<script src="{{ site.baseurl }}/js/global.js"></script>
