<header>
  <div class="wrapper">
    <a href="{{ '/' | prepend: site.baseurl }}" class="logo">Sunseeker Solar Car Project</a>
    <div class="clear-logo"></div>
    <nav>
      <div class="mobile-menu-toggle">Menu</div>
      <ul>
        {% for link in site.data.nav %}
        <li><a href="{{ link.url | prepend: site.baseurl }}"{% if page.pageid == link.name %} class="active"{% endif %}>{{ link.label }}</a>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="clear-all"></div>
</header>
