<header class="globalHeader">
  <div class="wrapper">
    <a href="{{ '/' | prepend: site.baseurl }}" class="globalHeader__branding">Sunseeker Solar Car Project</a>
    <nav class="globalNavigation">
      <div class="globalNavigation__mobileMenuToggle">Menu</div>
      <ul>
        {% for link in site.data.nav %}
        <li><a href="{{ link.url | prepend: site.baseurl }}"{% if page.pageid == link.name %} class="active"{% endif %}>{{ link.label }}</a>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
