{% capture count %}0{% endcapture %}
{% capture notPictured %}{% endcapture %}
<div class="members__group">
  {% for member in members.people %}
    {% if member.picture %}
      {% capture mod2 %}{{ count | modulo:2 }}{% endcapture %}
      {% capture mod4 %}{{ count | modulo:4 }}{% endcapture %}

      {% if count != '0' %}
        {% if mod2 == '0' %}
          <div class="clearBoth"></div></div>
          {% if mod4 == '0' %}
            <div class="clearBoth"></div>
          {% endif %}
          <div class="members__group">
        {% endif %}
      {% endif %}

      <div class="members__member">
        <img src="{{ members.config.pics_dir | prepend: site.baseurl }}{% if member.picture %}{{ member.picture }}{% else %}../no-picture.png{% endif %}"{% if member.konami%}data-konami-picture="{{ '/images/team-members/konami/' | prepend: site.baseurl }}{{ member.konami }}"{% endif %} alt="{{ member.name }}'s Picture">
        <strong>
          {{ member.name }}
          {% if member.linkedin %}
            <a href="{{ member.linkedin }}" target="_blank" class="linkedin">LinkedIn Profile</a>
          {% endif %}
        </strong>
        <ul class="member__data">
          {% if member.position %}
            <li class="member__block__info">{{ member.position }}</li>
          {% endif %}
          {% if member.company %}
            <li class="member__block__info">{{ member.company }}</li>
          {% endif %}
          {% if member.department %}
            <li class="member__block__info">{{ member.department }}</li>
          {% endif %}
          {% if member.major %}
            <li class="member__block__info">{{ member.major }}</li>
          {% endif %}
          {% if member.subteam %}
            <li class="member__block__info">{{ member.subteam }}</li>
          {% endif %}
          {% if member.quote %}
            <li class="member__block__info member__block__info--quote">{{ member.quote }}</li>
          {% endif %}
        </ul>
      </div>
      {% capture count %}{{ count | plus:1 }}{% endcapture %}
    {% else %}
      {% capture notPictured %}{{ notPictured }}{{ member.name }},{% endcapture %}
    {% endif %}
  {% endfor %}
</div>
<div class="clearBoth"></div>

{% assign names = notPictured | split:"," %}

{% if names.size > 0 %}
  <div class="message">
    <h3>Not Pictured</h3>
    <p>
      {% for name in names %}{% if forloop.first != true %}, {% if forloop.last == true %}and {% endif %}{% endif %}{{ name }}{% endfor %}
    </p>
  </div>
{% endif %}
