<app-navbar></app-navbar>
<div class="container-fluid" *ngIf="headerLoaded && aboutusLoaded">
    <div>
        <app-header [header]="currentHeader"></app-header>
        <div class="container">
            <div class="page-header" *ngIf="currentInfo[0]">
                <h1 [innerText]="currentInfo[0].Title"></h1>
            </div>
            <span  *ngIf="currentInfo[0]" class="text" [innerHTML]="currentInfo[0].Info"></span>
            <div class="page-header" *ngIf="currentInfo[1]">
                <h1 [innerText]="currentInfo[1].Title"></h1>
            </div>
            <span *ngIf="currentInfo[1]" class="text" [innerHTML]="currentInfo[1].Info"></span>
        </div>
    </div>
    <div class="spacer"></div>
</div>
<app-footer></app-footer>