html {
    height: 100%;
    position: relative;
}

body {
    background: lighten(#F1F1F1, 2%);
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    position: relative;
    padding: 0;
    margin: 0;
}

a {
    color: darken($bronco-gold, 30%);

    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

p {
    margin: 0 0 10px;

    &.lead {
        font-size: 1.2em;
    }
}

* > p:last-of-type {
    margin: 0;
}

.wrapper.block {
    padding: 10px;
}

header {
    background: $bronco-brown;
    box-shadow: inset 0 -15px 15px darken($bronco-brown, 5%);
    line-height: $header-height;
    padding: 10px;

    .logo {
        @extend .img;
        background-image: url('../images/logo.png');
        display: block;
        width: 166px;
        height: $header-height;
        float: left;
    }

    .clear-logo {
        clear: left;
    }

    nav {
        margin: 0 -10px;

        .mobile-menu-toggle {
            @extend .img;
            background-image: url('../images/mobile-menu-toggle.png');
            background-position: center center;
            background-size: 80%;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        @extend .list-standard;

        ul {
            background: $bronco-brown;
            width: 100%;
            box-sizing: border-box;
            display: none;
            padding: 10px 10px 0;
            margin-top: 10px;

            li {
                margin-bottom: 10px;

                a {
                    background: darken($bronco-brown, 5%);
                    color: $bronco-gold;
                    text-decoration: none;
                    display: block;
                    padding: 0 10px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

section.title,
footer {
    background: transparent;
}

section.title {
    padding: 20px;
    border-bottom: 2px solid #E1E1E1;

    h1 {
        margin-bottom: 0;
    }

    p {
        font-size: 1.1em;
        margin-top: 10px;

        a {
            color: #000;
        }
    }
}

main {
    background: #FFF;
    padding: 10px 0;
    
    blockquote,
    .message {
        background: #F1F1F1;
        font-style: italic;
        padding: 10px;
    }
}

footer {
    text-align: center;
    border-top: 2px solid #E1E1E1;

    .copyright {
        a {
            display: inline-block;
        }
    }

    .social {
        @extend .list-standard;

        ul li {
            a {
                background: #000;
                color: #FFF;
                text-decoration: none;
                font-weight: bold;
                display: block;
                padding: 10px;
                margin-bottom: 10px;
            }

            &.facebook {
                a {
                    background: #3B5998;
                }
            }

            &.twitter {
                a {
                    background: #55ACEE;
                }
            }

            &.flickr {
                a {
                    background: #FF0084;
                }
            }
        }
    }
}

@include media-query(tablet) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        
        &.block {
            padding: 20px;
        }
    }
    
    main {
        padding: 20px 0;
        
        blockquote,
        .message {
            padding: 20px;
        }
    }

    footer {
        padding: 5px;
        
        .social {
            float: left;
            width: 40%;

            ul li {
                a {
                    font-weight: 100;
                }

                &:last-of-type a {
                    margin-bottom: 0;
                }
            }
        }

        .copyright {
            float: right;
            width: 60%;
            padding-right: 20px;
            box-sizing: border-box;
        }
    }
}

@include media-query(desktop) {
    header {
        padding: 10px 20px;
        
        .clear-logo {
            clear: none;
        }

        nav {
            float: right;
            margin: 0;

            .mobile-menu-toggle {
                display: none;
            }

            ul {
                background: transparent;
                display: block !important;
                padding: 0;
                margin: 0;
                width: auto;

                li {
                    display: inline;

                    a {
                        background: transparent;
                        color: $bronco-gold;
                        font-size: .9em;
                        text-transform: uppercase;
                        line-height: 1;
                        display: inline-block;
                        margin: 0 10px;
                        padding: 0;
                        transition: .2s;

                        &.active,
                        &:hover {
                            color: darken($bronco-gold, 15%);
                            transition: .2s;
                        }
                    }

                    &:last-of-type a {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
