@import "_components";

html {
    height: 100%;
    position: relative;
}

body {
    background: #242424;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;
    color: $base-font-color;
    position: relative;
    padding: 0;
    margin: 0;
}

header,
main {
    background: $white;
}

header {
    line-height: $header-height;
    padding: $standard-padding;

    .logo {
        @extend .img;
        background-image: url('../images/logo.png');
        display: block;
        width: 166px;
        height: $header-height;
        float: left;
    }

    .clear-logo {
        clear: left;
    }

    nav {
        text-transform: uppercase;
        margin: 0 -10px;

        .mobile-menu-toggle {
            background: lighten($bronco-brown, 5%);
            color: $bronco-gold;
            font-weight: 400;
            line-height: 1em;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            border: 1px solid $bronco-gold;
            border-radius: 10px;
            padding: 10px;
            margin-top: 7px;
        }

        @extend .list-standard;

        ul {
            background: $bronco-brown;
            width: 100%;
            box-sizing: border-box;
            display: none;
            padding: 10px 10px 0;

            li {
                background: darken($bronco-brown, 5%);
                border-bottom: 2px solid $bronco-brown;
                
                a {
                    color: $bronco-gold;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 400;
                    display: block;
                    padding: 0 10px;
                }
            }
        }
    }
}

footer {
    text-align: center;
    color: $white;

    a {
        color: $white;
    }
}

@include media-query(tablet) {
    .wrapper {
        width: $wrapper-width;
        max-width: 100%;
        margin: 0 auto;
    }

    header .clear-logo {
        display: none;
    }

    main {
        .side-by-side-boxes .box:first-of-type {
            margin: 0 0 $standard-margin * 2;
        }
    }
}

@include media-query(desktop) {
    .wrapper {
        width: $wrapper-width;
        margin: 0 auto;
    }

    header {
        nav {
            float: right;
            margin: 0;

            .mobile-menu-toggle {
                display: none;
            }

            ul {
                background: transparent;
                display: block !important;
                padding: 0;
                margin: 0;
                width: auto;

                li {
                    background: transparent;
                    display: inline;
                    border-bottom: 0;

                    a {
                        color: $bronco-gold;
                        font-size: .9em;
                        line-height: 1;
                        display: inline-block;
                        margin: 0 10px;
                        padding: 0;
                        transition: .2s;

                        &.active,
                        &:hover {
                            color: darken($bronco-gold, 15%);
                            transition: .2s;
                        }
                    }

                    &:last-of-type a {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    main .side-by-side-boxes .box {
        width: ($wrapper-width / 2) - $standard-margin;
        float: left;

        &:first-of-type {
            margin: 0 $standard-margin * 2 0 0;
        }
    }
}
