html {
    height: 100%;
    position: relative;
}

body {
    background: lighten(#F1F1F1, 2%);
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    position: relative;
    padding: 0;
    margin: 0;
}

a {
    color: darken($bronco-gold, 30%);

    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

header {
    background: $bronco-brown;
    line-height: $header-height;
    padding: 10px;

    .logo {
        @extend .img;
        background-image: url('../images/logo.png');
        display: block;
        width: 166px;
        height: $header-height;
        float: left;
    }

    .clear-logo {
        clear: left;
    }

    nav {
        text-transform: uppercase;
        margin: 0 -10px;

        .mobile-menu-toggle {
            background: lighten($bronco-brown, 5%);
            color: $bronco-gold;
            font-weight: 400;
            line-height: 1em;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            border: 1px solid $bronco-gold;
            border-radius: 10px;
            padding: 10px;
            margin-top: 7px;
        }

        @extend .list-standard;

        ul {
            background: $bronco-brown;
            width: 100%;
            box-sizing: border-box;
            display: none;
            padding: 10px 10px 0;

            li {
                background: darken($bronco-brown, 5%);
                border-bottom: 2px solid $bronco-brown;
                
                a {
                    color: $bronco-gold;
                    text-align: center;
                    text-decoration: none;
                    display: block;
                    padding: 0 10px;
                }
            }
        }
    }
}

section.title,
footer {
    background: transparent;
}

section.title,
main {
    padding: 10px 10px 0;

    .wrapper {
        padding: 0 0 10px;

        *:last-child {
            margin-bottom: 0;
        }
    }
}

section.title {
    border-bottom: 2px solid #E1E1E1;

    h1 {
        margin: 0;
    }

    p {
        font-size: 1.1em;

        a {
            color: #000;
        }
    }

    .wrapper {
        padding: 0 0 10px;
    }
}

main {
    background: #FFF;
    
    blockquote,
    .message {
        background: #F1F1F1;
        font-style: italic;
        padding: 10px;

        h2, h3 {
            margin-top: 0;
        }
    }

    .message--notice {
        background: $bronco-gold;

        h3 {
            text-transform: uppercase;
        }

        a {
            color: #000;
        }
    }
}

footer {
    border-top: 2px solid #E1E1E1;
    text-align: center;
    padding: 10px;

    .social {
        @extend .list-standard;

        margin-bottom: 10px;

        ul li {
            display: inline;

            a {
                background-repeat: no-repeat;
                background-size: 45px 45px;
                text-indent: -99999px;
                display: inline-block;
                margin-right: 20px;
                width: 45px;
                height: 45px;
            }

            &.linkedin {
                a {
                    background-image: url('../images/social-icons/linkedin.png');
                }
            }

            &.facebook {
                a {
                    background-image: url('../images/social-icons/facebook.png');
                }
            }

            &.twitter {
                a {
                    background-image: url('../images/social-icons/twitter.png');
                }
            }

            &.youtube {
                a {
                    background-image: url('../images/social-icons/youtube.png');
                }
            }

            &.flickr {
                a {
                    background-image: url('../images/social-icons/flickr.png');
                }
            }

            &.email {
                a {
                    background-image: url('../images/social-icons/email.png');
                }
            }

            &:last-of-type a {
                margin-right: 0;
            }
        }
    }

    .other-links {
        @extend .list-standard;

        ul {
            li {
                background: darken(#E1E1E1, 5%);
                border-bottom: 2px solid #E1E1E1;

                a {
                    color: #333;
                    display: block;
                    padding: 10px 0;
                }

                &:last-of-type {
                    border-bottom: 0;
                }
            }
        }
    }
}

@include media-query(tablet) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    section.title,
    main {
        padding: 20px 0 0;
    
        .wrapper {
            padding: 0 0 20px;
        }
    }
    
    main,
    footer {
        padding: 0;
    }

    main {
        padding: 20px 0 0;

        h1, h2, h3, h4, h5, h6, p {
            margin: 0 0 20px;
        }

        blockquote,
        .message {
            padding: 20px;
        }
    }

    footer {
        padding: 20px 0;
    }
}

@include media-query(desktop) {
    header {
        padding: 10px 20px;
        
        .clear-logo {
            clear: none;
        }

        nav {
            float: right;
            margin: 0;

            .mobile-menu-toggle {
                display: none;
            }

            ul {
                background: transparent;
                display: block !important;
                padding: 0;
                margin: 0;
                width: auto;

                li {
                    background: transparent;
                    display: inline;

                    a {
                        color: $bronco-gold;
                        font-size: .9em;
                        line-height: 1;
                        display: inline-block;
                        margin: 0 10px;
                        padding: 0;
                        transition: .2s;

                        &.active,
                        &:hover {
                            color: darken($bronco-gold, 15%);
                            transition: .2s;
                        }
                    }

                    &:last-of-type a {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    footer {
        .social {
            margin-bottom: 20px;
        }

        .other-links {
            h3 {
                display: none;
            }

            ul {
                li {
                    background: transparent;
                    list-style: none;
                    display: inline;
                    border-bottom: 0;
                    border-right: 2px solid #CCC;
                    padding: 0 10px;

                    a {
                        display: inline;
                    }

                    &:last-of-type {
                        border-right: none;
                    }
                }
            }
        }
    }
}
