#about {
    .section-nav {
        @extend .list-standard;
        display: none;
    }
    
    .picture {
        @extend .img;
        background-size: cover;
        height: 200px;
    
        &.history-block-picture {
            background-image: url('../images/about/1995-running-to-the-future.jpg');
        }
    
        &.challenge-block-picture {
            background-image: url('../images/about/crossing-the-line.jpg');
        }
    
        &.mission-block-picture {
            background-image: url('../images/about/vince-talking.jpg');
            background-position: center top;
        }
    }

    @include media-query(tablet) {
        .section-nav {
            font-size: 1.1em;
            text-align: center;
            display: block;
            padding-top: 40px;
            
            ul li {
                display: inline;
                margin: 0 20px;
                
                a {
                    color: #333;
                }
            }
        }
        
        .picture {
            height: 500px;
            margin: 20px 0px;
            
            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    @include media-query(enormous) {
        .picture {
            height: 700px;
        }
    }
}
