.about__sectionNav {
    @extend .list-standard;
    
    text-align: center;
    font-size: .9em;

    ul li {
        display: inline;
        margin-right: $standard-margin;
        
        a {
            color: #333;
        }
    }
}

.about__picture {
    @extend .img;
    background-size: cover;
    height: 200px;
    margin: $standard-margin 0;
}

.about__picture--history {
    background-image: url('../images/about/1995-running-to-the-future.jpg');
}

.about__picture--challenge {
    background-image: url('../images/about/crossing-the-line.jpg');
}

.about__picture--mission {
    background-image: url('../images/about/vince-talking.jpg');
    background-position: center top;
}

@include media-query(tablet) {
    .about__sectionNav {
        font-size: 1em;
    }

    .about__picture {
        height: 500px;
    }
}

@include media-query(enormous) {
    .about__picture {
        height: 700px;
    }
}
