
.blog__posts {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        margin-bottom: 20px;

        &:last-of-type {
            margin: 0;
        }

        h3 {
            font-weight: 100;
        }
    }
}

.posts__post__info h3 {
    margin: 0 0 10px;
}

.posts__post__date {
    background: $bronco-gold;
    text-align: center;
    font-size: 2em;
    line-height: 1em;
    color: $bronco-brown;
    padding: 10px;
    margin: 0 20px 0 0;
    box-sizing: border-box;
    float: left;
    width: 90px;
    height: 90px;
}

.post__data {
    font-size: .9em;
    margin: -10px 0 10px;
}

.image-list {
    padding: 0;

    li {
        list-style: none;

        img {
            max-width: 100%;
        }
    }
}

.image-well {
    margin-bottom: $standard-margin;

    img {
        max-width: 100%;
    }
}

.image-well__caption {
    font-size: .75rem;
}

@include media-query(tablet) {
    .blog__banner {
        height: 500px;
    }

    .image-list.image-list--three,
    .image-list.image-list--one {
        li {
            display: inline-block;
            width: 33%;
        }
    }

    .image-well {
        width: 300px;
    }

    .image-well--left {
        float: left;
    }

    .image-well--with-right {
        margin-right: $standard-margin * 2;
    }

    .image-well--with-left {
        margin-left: $standard-margin * 2;
    }

    .image-well--with-above {
        margin-top: $standard-margin * 2;
    }

    .image-well--with-below {
        margin-bottom: $standard-margin * 2;
    }
}

@include media-query(desktop) {
    .image-well {
        width: 400px;
    }
}

@include media-query(enormous) {
    .blog__banner {
        height: 700px;
    }
}
