#blog {
    .posts {
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 20px;

            h3 {
                font-weight: 100;
            }
        }
    }

    .posts__post__date {
        background: $bronco-gold;
        text-align: center;
        font-size: 2em;
        line-height: 1em;
        color: $bronco-brown;
        padding: 10px;
        margin: 0 20px 0 0;
        box-sizing: border-box;
        float: left;
        width: 90px;
        height: 90px;
    }

    .post__data {
        font-size: .9em;
        margin: -10px 0 10px;
    }

    @include media-query(tablet) {
        .blog__banner {
            height: 500px;
        }
    }
    
    @include media-query(enormous) {
        .blog__banner {
            height: 700px;
        }
    }
}