#car {
    .big-picture {
        @extend .img;
        background-image: url('../images/about/crossing-the-line.jpg');
        background-size: cover;
        height: 200px;
    }

    .information {
        ul {
            margin: 0;
            padding: 0;
            padding-left: 30px;

            li {
                margin-bottom: 10px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .specs {
        &:first-of-type {
            margin-bottom: 10px;
        }
        
        section.specification {
            background: #F1F1F1;
            padding: 0 10px;
    
            table {
                width: 100%;
                
                thead th,
                tbody td {
                    padding: 10px 0;
                }
    
                thead th {
                    text-align: left;
                    border-bottom: 3px solid #CCC;
                }
    
                tbody td {
                    &:first-child {
                        font-weight: bold;
                        width: 40%;
                    }
    
                    &:last-child {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    @include media-query(tablet) {
        .big-picture {
            height: 500px;
        }

        .specs {
            float: left;
            width: 50%;
            box-sizing: border-box;
            padding-left: 10px;
            
            &:first-of-type {
                padding-right: 10px;
                padding-left: 0;
            }
        }
    }
    
    @include media-query(enormous) {
        .big-picture {
            height: 700px;
        }
    }
}
