a.donate-button {
    background: $bronco-brown;
    text-align: center;
    text-decoration: none;
    color: $bronco-gold;
    box-shadow: inset 0 -15px 15px darken($bronco-brown, 5%);
    width: 400px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

.makingDonation {
    margin: 0 0 $standard-margin;
}

.chooseDonation {
    background: $light-gray;
    padding: $standard-padding;
    margin: 0 0 $standard-margin;
    box-sizing: border-box;
}

.donationAmounts {
    @extend .list-standard;
}

.donationAmounts__amount {
    display: inline-block;
    width: 50%;
    padding: 0 $standard-padding / 2 $standard-padding / 2 0 !important;
    box-sizing: border-box;

    &:nth-of-type(even) {
        padding: 0 0 $standard-padding / 2 0 !important;
    }
}

.donationAmounts__amount__clickable {
    background-color: $bronco-gold;
    text-align: center;
    padding: $standard-padding / 2 !important;
    cursor: pointer;

    &.active {
        background-color: darken($bronco-gold, 10);
    }
}

.donationAmounts__amount--other {
    background: transparent;
}

.donationAmounts__amount--other input {
    font-size: 1em;
    outline: none;
    width: 100%;
    padding: $standard-padding / 2;
    box-sizing: border-box;
}

.chooseDonation__continue {
    background-color: lighten($bronco-brown, 10%);
    color: $white;
    font-size: 1em;
    border: 0;
    width: 100%;
    padding: $standard-padding / 2;
    cursor: pointer;
}

@include media-query(tablet) {
    .makingDonation {
        width: 49%;
        float: left;
    }

    .chooseDonation {
        width: 49%;
        float: right;
    }
}
