#homepage {
    main {
        padding-top: 0;
    }
    
    .slideshow ul li {
        @extend .img;
        background-size: cover;
        height: 200px;
        margin-bottom: 10px;

        &:nth-child(1) {
            background-image: url('../images/slideshows/homepage/in-front-of-turn-one.jpg');
        }

        &:nth-child(2) {
            background-image: url('../images/slideshows/homepage/cleaning-the-array.jpg');
        }

        &:nth-child(3) {
            background-image: url('../images/slideshows/homepage/cota-in-the-background.jpg');
        }

        &:nth-child(4) {
            background-image: url('../images/slideshows/homepage/practice-before-the-race.jpg');
        }
    }

    .general-info .box:first-of-type {
        margin-bottom: 20px;
    }

    @include media-query(tablet) {
        .slideshow ul li {
            height: 450px;
            margin-bottom: 20px;
        }

        .general-info .box {
            width: 48%;
            float: left;

            &:first-of-type {
                margin-right: 20px;
            }
        }
    }

    @include media-query(desktop) {
        .slideshow ul li {
            height: 550px;
        }
    }

    @include media-query(enormous) {
        .slideshow ul li {
            height: 700px;
        }
    }
}
