#members {
    .member-group {
        box-sizing: border-box;
        float: left;
        margin: 10px 0;

        .member {
            text-align: center;
            float: left;
            width: 50%;
            padding: 0 10px;
            box-sizing: border-box;

            img {
                max-width: 100%;
                margin-bottom: 10px;
            }

            .linkedin {
                @extend .img;

                background-image: url('../images/social-icons/linkedin-small.png');
                display: inline-block;
                width: 32px;
                height: 21px;
            }
        }
    }

    @include media-query(tablet) {
        .member-group {
            width: 50%;
            margin: 20px 0;
        }
    }
}
