.sponsors__sponsor,
.sponsors__list ul li {
    margin: 0 0 $standard-margin;

    h3 {
        font-weight: bold;

        small {
            font-weight: 100;
            display: block;
            margin-top: 5px;
        }
    }
}

.sponsor__image {
    text-align: center;
    height: 150px;

    .helper {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    img {
        max-width: 80%;
        max-height: 100%;
        vertical-align: middle;
    }
}

.sponsors__list {
    @extend .list-standard;
}

.sponsors__sponsor--noLogo,
.sponsor__description,
.sponsors__list ul li {
    background-color: $light-gray;
    padding: $standard-padding;
}

.tier {
    background-color: $light-gray;
    padding: $standard-padding;
    margin-bottom: $standard-margin;
}

sup a {
    color: $bronco-brown;
    text-decoration: none;
}

@include media-query(tablet) {
    .sponsor__image, 
    .sponsor__description {
        min-height: 150px;
        float: left;
        box-sizing: border-box;
    }

    .sponsor__image {
        width: 25%;
    }

    .sponsor__description {
        width: 75%;
    }
}
