<app-header></app-header>
<div class="container-fluid" *ngIf="loadedData">
    <div class="img-container">
        <img [src]="imagePath + homepage.image" class="banner">
        <div class="img-overlay">
            <img class="overlay-title logo" [src]="imagePath + homepage.logo">
        </div>
    </div>
    

    <div class="page-header">
        <h1 [innerText]="homepage.info.title"></h1>
        <div class="container info-container" [innerHTML]="homepage.info.info"></div>
    </div>

    <!-- <div class="section-header">
        <h1>Calendar</h1>
    </div>

    <br>
    <br>
    <div class="container">
        <iframe class="calendar" src="https://outlook.office365.com/owa/calendar/24842366fa7a4cfd96f224e8d2fa5550@wmich.edu/3bb530a7f34c40e78d567852e9c1e1ec9772386110341939798/calendar.html"
            frameborder="0">
        </iframe>
    </div> -->
    <div class="container">
        <h1 class="center">
            Meeting Times | {{homepage.meetingTimes.semester}}
        </h1>
        <div class="meeting-time bottom-border" *ngIf="homepage.meetingTimes.general.day">
            <span>
                <span class="glyphicon glyphicon-user"></span> &nbsp; General Team Meeting
            </span>
            <span>
                {{homepage.meetingTimes.general.day}} {{homepage.meetingTimes.general.time}} | {{homepage.meetingTimes.general.building}} {{homepage.meetingTimes.general.room}}
            </span>
        </div>
        <div class="meeting-time bottom-border" *ngIf="homepage.meetingTimes.mechanical.day">
            <span>
                <span class="glyphicon glyphicon-cog"></span> &nbsp; Mechanical Team Meeting
            </span>
            <span>
                    {{homepage.meetingTimes.mechanical.day}} {{homepage.meetingTimes.mechanical.time}} | {{homepage.meetingTimes.mechanical.building}} {{homepage.meetingTimes.mechanical.room}}
            </span>
        </div>
        <div class="meeting-time bottom-border" *ngIf="homepage.meetingTimes.cs.day">
            <span>
                <i class='fas fa-code-branch'></i> &nbsp; CS Team Meeting
            </span>
            <span>
                    {{homepage.meetingTimes.cs.day}} {{homepage.meetingTimes.cs.time}} | {{homepage.meetingTimes.cs.building}} {{homepage.meetingTimes.cs.room}}
            </span>
        </div>
        <div class="meeting-time">
            <span>
                <span class="glyphicon glyphicon-flash"></span> &nbsp; Electrical
            </span>
            <span>
            </span>
        </div>
        <div class="submeeting-time" *ngIf="homepage.meetingTimes.electrical.battery.day">
            <span>
                <i class="fas fa-battery-full"></i> &nbsp; Battery
            </span>
            <span>
                    {{homepage.meetingTimes.electrical.battery.day}} {{homepage.meetingTimes.electrical.battery.time}} | {{homepage.meetingTimes.electrical.battery.building}} {{homepage.meetingTimes.electrical.battery.room}}
            </span>
        </div>
        <div class="submeeting-time" *ngIf="homepage.meetingTimes.electrical.solar.day">
            <span>
                <i class='fas fa-sun'></i> &nbsp; Solar
            </span>
            <span>
                    {{homepage.meetingTimes.electrical.solar.day}} {{homepage.meetingTimes.electrical.solar.time}} | {{homepage.meetingTimes.electrical.solar.building}} {{homepage.meetingTimes.electrical.solar.room}}
            </span>
        </div>
        <div class="submeeting-time" *ngIf="homepage.meetingTimes.electrical.pcb.day">
            <span>
                <i class='fas fa-microchip'></i> &nbsp; PCB
            </span>
            <span>
                    {{homepage.meetingTimes.electrical.pcb.day}} {{homepage.meetingTimes.electrical.pcb.time}} | {{homepage.meetingTimes.electrical.pcb.building}} {{homepage.meetingTimes.electrical.pcb.room}}
            </span>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<app-footer></app-footer>