<div class="person">
    <img class="funny" [class.transparent]='!isFunnyPic' [src]="person.funnyPic" width="280px" height="350px">
    <img class="picture" [class.transparent]='isFunnyPic' [src]="person.picture" width="280px" height="350px">
    <div class="overlay">
        <p [innerText]="person.name" class="name"></p>
        <p *ngIf="person.title" [innerText]="person.title" class="title"></p>
        <a [href]="person.linkedin" *ngIf="person.linkedin"><img src="assets/_images/social-icons/linkedin-small.png"></a>
    </div>
</div>