{% extends 'layouts/default.twig' %}

{% block title %}Our Sponsors{% endblock %}

{% block pageid %}sponsors{% endblock %}

{% block content %}
<h1>Our Sponsors</h1>
<p class="lead">A lot goes into building a solar car, and it would not be possible if it were not for our sponsors. We would like to thank all of them, and recognize them here for their kindness. If you would like to donate to our organization, you may do so by visiting our <a href="/sunseeker/donate">donation page</a>. You may also view our <a href="/sunseeker/past-sponsors">past sponsors</a>.</p>
<h2>Corporate Sponsors</h2>
<div class="sponsor">
  <div class="image" style="background-image: url('assets/images/sponsors/american_defense_composites.png');">American Defense Composites</div>
  <div class="description">
    <h3>American Defense Composites <small>Lawton, Michigan</small></h3>
    <p>For their donation of cardboard.</p>
  </div>
  <div class="clearfix"></div>
</div>
<div class="sponsor">
  <div class="image" style="background-image: url('assets/images/sponsors/plascore.png');">Plascore</div>
  <div class="description">
    <h3>Plascore <small>Zeeland, Michigan</small></h3>
    <p>For their donation of honeycomb composite materials.</p>
  </div>
  <div class="clearfix"></div>
</div>
<div class="sponsor">
  <div class="image" style="background-image: url('assets/images/sponsors/lowes.jpg');">Lowe's Home Improvement #1829</div>
  <div class="description">
    <h3>Lowe's Home Improvement #1829 <small>Gurnee, Illinois</small></h3>
    <p>For their donation of assorted tools and machinery.</p>
  </div>
  <div class="clearfix"></div>
</div>
<h2>WMU Sponsors</h2>
<div class="sponsor">
  <div class="image" style="background-image: url('assets/images/sponsors/wmu.png');">College of Engineering and Applied Sciences</div>
  <div class="description">
    <h3>College of Engineering and Applied Sciences</h3>
    <p>Continued support in terms of finance, education, and workspace.</p>
  </div>
  <div class="clearfix"></div>
</div>
<p class="sponsor alone">
  Department of Computer Science
</p>
<p class="sponsor alone">
  Department of Electrical and Computer Engineering
</p>
<p class="sponsor alone">
  Department of Mechanical and Aerospace Engineering
</p>
<p class="sponsor alone">
  Department of Industrial and Manufacturing Engineering
</p>
<h2>Individual Sponsors</h2>
<p class="sponsor alone">
  Abraham Poot Family - Memorial
</p>
<p class="sponsor alone">
  Mr. Byron Izenbaard
</p>
<div class="sponsor alone">
  <h3>Indiegogo.com - Crowd Funded Donations</h3>
  sarah.bryer, dicjul, fookyjama, apoot, Cody.Parana, bigboz, alexander.m.myers, kkmjax, and five other anonymous donations.
</div>
{% endblock %}
