{% extends 'layouts/default.twig' %}

{% block title %}Make a Donation{% endblock %}

{% block pageid %}donate{% endblock %}

{% set requirejs='donate' %}

{% block content %}
<h1>Make a Donation</h1>
<section class="slideshow">
  <ul>
    <li>Slalom Testing
    <li>Coming Around a Turn
    <li>Pit Stop
    <li>Practice Makes Perfect
  </ul>
</section>
<section class="message">
  <p>Thank you for your interest in supporting our organization. We appreciate all donations, they all go a long way to help make us successful.</p>
  <p>All online donations can be made via Western Michigan University's secure MyWMU Make a Gift website. Click the button below to go to that website.</p>
  <div class="text-center">
    <a href="https://securelb.imodules.com/s/1428/gid2/index.aspx?sid=1428&gid=2&pgid=418&cid=1173&bledit=1&dids=158.336.560" target="_blank" class="btn btn-gold btn-lg">Donate Online</a>
  </div>
</section>
<div class="clearfix"></div>
{% endblock %}
