// Anchors

a {
    color: darken($bronco-gold, 40%);

    &:hover {
        text-decoration: none;
    }
}


// Headings

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
    margin: 0 0 $standard-margin;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-size: 1.6em;
}

// Paragraphs

p {
    padding: 0;
    margin: 0 0 $standard-margin;
}

// Alignmnets

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

// Styles

strong {
    font-weight: 400;
}
