<!DOCTYPE html>
<html>
  {% include head.html %}
  <body{% if page.pageid %} id="{{ page.pageid }}"{% endif %}>
    {% include header.html %}
    <main>
      <div class="slideshow">
        <ul>
          <li class="slide">Turn one in the background.
          <li class="slide">Circuit of the Americas building in the background.
          <li class="slide">Practice before the race.
          <li class="slide">Working in the lab.
        </ul>
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <div class="meeting-info">
      <div class="wrapper">
        <h3>Spring 2015 General Meetings</h3>
        <p>For the Spring 2015 semester, the general team meetings will be held on Wednesdays at 6:30pm in the Plastics Lab (E-101) at the <a href="http://www.wmich.edu/maps/?home=engineering&bldg=214&layer=parking" target="_blank">CEAS Parkview Campus</a>.</p>
        <p>All Western Michigan University student are welcome, come join today!</p>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
