@import '~bootstrap/dist/css/bootstrap.min.css';

.gold{
    color: gold;
}

body{
    font-family: 'Gotham SSm A','Gotham SSm B',Helvetica,sans-serif;
}

.banner{
    width: 100%;
}

app-header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.img-overlay{
    // background-color: rgba(255, 203, 12, 0.3);
    background-image: linear-gradient(to bottom, rgba(255, 203, 12, 0.6), rgba(255, 203, 12, 0.1));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container{
    position: relative;
}

.container-fluid{
    padding: 0;
}

.overlay-title{
    font-size: 40pt;
    color: white;
    font-weight: bold;
}