{% extends 'layouts/default.twig' %}

{% block title %}About the Team{% endblock %}

{% set requirejs='about' %}

{% block pageid %}about{% endblock %}

{% block content %}
<h1>About the Team</h1>
<p class="lead">We are the Sunseeker Solar Car Project, a team of students from <a href="https://www.wmich.edu/" target="_blank">Western Michigan University</a> in Kalamazoo, Michigan. We design, build, and race our <a href="{{ url_prefix }}/our-car">solar powered vehicle</a> in the <a href="http://americansolarchallenge.org" target="_blank">American Solar Challenge</a> and Formula Sun Grand Prix. Continue reading below to learn more about our organization.</p>
<div class="timeline-imgs">
  <ul>
    <li><img src="assets/images/about/running_to_the_future.png" lightbox="true" caption="An undated photo showing the 1995 car and the team running beside it.">
    <li><img src="assets/images/about/from_way_back.jpg" lightbox="true" caption="An undated photo showing the team working on one of the original Sunseeker solar cars.">
    <li><img src="assets/images/about/making_a_turn.jpg" lightbox="true" caption="The 2010 car coming around turn 15 at Circuit of the Americas during FSGP 2014 Powered by Austin Energy.">
    <li><img src="assets/images/about/in_the_pits.jpg" lightbox="true" caption="The 2010 car being worked on in the pits during FSGP 2014 Powered by Austin Energy.">
  </ul>
</div>
<div class="clearfix"></div>
<h2>A Brief History</h2>
<p>The history of our team goes back to 1990, when a group students from Western Michigan University set out to design, build, and compete with the first Sunseeker solar car. Their goal: to enhance our understanding of renewable energy and to make renewable energy sources more viable for powering the future. This same goal is in mind when the current generation of Sunseekers sets out to do just the same.</p>
<p>We have participated in all of the American Solar Challenge events since they began over 20 years ago. Throughout the years, we have <span style="font-style: italic;">rayced</span> with various cars, all of which have been designed and built by students at Western Michigan University.</p>
<h2>The Challenge</h2>
<p>One of the ultimate goals of the team is to make it to the American Solar Challenge (ASC), a multi-day test of endurance held every other year. Prior to the year 2001, the challenge was called Sunrayce. The challenge consists of a 1,200 to 1,800 mile long journey across the United States, and has even extended into Canada. It tests not just the cars, but also the teams and their ability to deal with the complications of operating a solar powered vehicle (the sun isn't always shining).</p>
<p>We are proud to say that we are one of a small number of teams who has participated in all Sunrayce/ASC and FSGP events since they began over 20 years ago.</p>
<p>More about the American Solar Challenge can be found on its <a href="http://americansolarchallenge.org" target="_blank">official website</a>, including results from past events.</p>
<h2>Our Mission</h2>
<p>Aside from the designing, building, and competing, we have another important goal we want to accomplish. It goes back to the original reason the team was formed, to develop technologies that utilize and further our understanding of renewable energy. We want to raise awareness of clean, renewable energy sources by demonstrating our student-built solar powered vehicle, by engaging with the community to demonstrate what is possible and how we can get so much from what is all around us.</p>
<p>Throughout a calendar year, we attend numerous public events at which we display at least one of our cars. If you are interested in seeing one (possibly more) of the cars in person, follow us on <a href="https://www.facebook.com/SunseekerSolarCar" target="_blank">Facebook</a> or <a href="https://twitter.com/wmusunseeker" target="_blank">Twitter</a> for updates regarding where we will be and when.</p>
{{ include('includes/joinTeam.twig') }}
{% endblock %}
