{% extends 'layouts/default.twig' %}

{% block title %}Meet the Team{% endblock %}

{% block pageid %}meet{% endblock %}

{% set count = 0 %}

{% block content %}
<h1>Meet the Team</h1>
<p class="lead">Our team is made up of a diverse group of students from Western Michigan University. Not all of our members are engineering students, we have members from many of the colleges at the university. We welcome all who want to join, regardless of their skill set and experience with solar cars! <a href="#join-the-team">Learn how to join</a>.</p>
<div class="set">
  {% for member in members %}
  {% if count % 2 == 0 %}
  <div class="clearfix"></div>
</div>
{% if count % 4 == 0 %}<div class="clearfix"></div>{% endif %}
<div class="set">
  {% endif %}
  <div class="member">
    <img src="assets/images/team_pictures/{{ member.getPicture() }}">
    <div class="info">
      <strong>{{ member.getFullName() }}</strong>{% if member.getLevel() > 1 and member.getPosition() %}<br />{{ member.getPosition() }}{% endif %}
    </div>
  </div>
  {% set count = count + 1 %}
  {% endfor %}
</div>
<div class="clearfix"></div>
{{ include('includes/joinTeam.twig') }}
{% endblock %}
