<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Welcome{% endblock %} | Sunseeker Solar Car Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="shortcut icon" href="https://www.wmich.edu/profiles/wmu/themes/wmu_responsive/favicon.ico" />

    <link rel="stylesheet" href="/sunseeker/assets/css/style.css">
  </head>
  <body id="{% block pageid %}{% endblock %}" class="container-fluid">
    {% block header %}
    <header>
      <div class="wrapper">
        <a class="branding" href="/sunseeker">Sunseeker Solar Car Project</a>
        <nav>
          <div class="toggle"></div>
          <div class="wrap">
            <ul>
              {% for link,label in nav_links %}
              <li><a href="{{ link }}"{% if link == active_link %} class="active"{% endif %}>{{ label }}</a>
              {% endfor %}
            </ul>
          </div>
        </nav>
      </div>
    </header>
    {% endblock %}
    {% block main %}
    <main>
      {% block content %}
      <h1>This is a new page!</h1>
      {% endblock %}
    </main>
    {% endblock %}
    <footer>
      <nav>
        <ul>
          <li><a href="/sunseeker/donate">Donate</a>
          <li><a href="/sunseeker/our-sponsors">Our Sponsors</a>
          <li><a href="/sunseeker/our-car">Our Car</a>
        </ul>
      </nav>
      <div class="organization">Sunseeker Solar Car Project <a href="https://www.wmich.edu/" class="school">Western Michigan University</a></div>
      <div class="clearfix"></div>
    </footer>
    <script src="/sunseeker/assets/javascript/lib/require-2.1.14.js"></script>
    <script>require(['/sunseeker/assets/javascript/common.js'], function() {require(['app/analytics', 'app/mobileNav',{% if requirejs is not empty %} 'page/{{ requirejs }}'{% endif %}]);});</script>
  </body>
</html>
