<app-navbar></app-navbar>
<div class="container-fluid" *ngIf="headerLoaded && membersLoaded">
    <div>
        <app-header [header]="header"></app-header>
        <div *ngIf="current" class="members">
            <div class="tree container">
                <div class="leads">
                    <div class="lead" *ngIf="getPosition('Project Lead')">
                        <app-person [person]="getPosition('Project Lead')"></app-person>
                    </div>
                    <div class="lead" *ngIf="getPosition('Assistant Project Lead')">
                        <app-person [person]="getPosition('Assistant Project Lead')"></app-person>
                    </div>
                </div>
                <div class="leads">
                    <div class="lead" *ngIf="getPosition('Mechanical Lead')">
                        <app-person [person]="getPosition('Mechanical Lead')"></app-person>
                    </div>
                    <div class="lead" *ngIf="getPosition('Electrical Lead')">
                        <app-person [person]="getPosition('Electrical Lead')"></app-person>
                    </div>
                    <div class="lead" *ngIf="getPosition('Aero Lead')">
                        <app-person [person]="getPosition('Aero Lead')"></app-person>
                    </div>
                    <div class="lead" *ngIf="getPosition('Webmaster')">
                        <app-person [person]="getPosition('Webmaster')"></app-person>
                    </div>
                    <div class="lead" *ngIf="getPosition('Business Lead')">
                        <app-person [person]="getPosition('Business Lead')"></app-person>
                    </div>
                </div>
                <hr class="line">
                <div class="people">
                    <div class="person" *ngFor="let m of getMembers()" [hidden]="!m">
                        <app-person [person]="m"></app-person>
                    </div>
                </div>
                <br>
                <div class="people">
                    <div class="person" *ngFor="let m of getAdvisors()">
                        <app-person [person]="m" ></app-person>
                    </div>
                </div>
            </div>
            <div class="spacer">
                <br>
            </div>
        </div>
        <div *ngIf="past">
            <div class="people">
                <div class="person" *ngFor="let a of getAlumni()">
                    <app-person [person]="a" ></app-person>
                </div>
            </div>
            <div class="not-pictured container">
                <div class="titles">Not Pictured</div>
                <span *ngFor="let name of getNotPictured(); let i = index; let l = count" [innerText]="name + getSeperator(i, l)"></span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>