<app-header></app-header>
<div class="container-fluid">
    <div>
        <div *ngIf="current" class="members">
            <div class="img-container">
                <img [src]="currentImage" class="banner">
                <div class="img-overlay">
                    <div class="overlay-title" [innerHTML]="currentTitle"></div>
                </div>
            </div>
            <div class="tree container">
                <div class="leads">
                    <div class="lead" *ngIf="currentMembers.lead.picture">
                        <app-person [person]="currentMembers.lead" ></app-person>
                    </div>
                    <div class="lead" *ngIf="currentMembers.assistant.picture">
                        <app-person [person]="currentMembers.assistant" ></app-person>
                    </div>
                </div>
                <div class="leads">
                    <div class="lead" *ngIf="currentMembers.mechanical.picture">
                        <app-person [person]="currentMembers.mechanical"></app-person>
                    </div>
                    <div class="lead" *ngIf="currentMembers.electrical.picture">
                        <app-person [person]="currentMembers.electrical" ></app-person>
                    </div>
                    <div class="lead" *ngIf="currentMembers.aero.picture">
                        <app-person [person]="currentMembers.aero"></app-person>
                    </div>
                    <div class="lead" *ngIf="currentMembers.webmaster.picture">
                        <app-person [person]="currentMembers.webmaster" ></app-person>
                    </div>
                    <div class="lead" *ngIf="currentMembers.business.picture">
                        <app-person [person]="currentMembers.business" ></app-person>
                    </div>
                </div>
                <hr class="line">
                <div class="people">
                    <div class="person" *ngFor="let m of currentMembers.members">
                        <app-person *ngIf="m.picture" [person]="m" ></app-person>
                    </div>
                </div>
                <br>
                <div class="people">
                    <div class="person" *ngFor="let m of currentMembers.advisors">
                        <app-person [person]="m" ></app-person>
                    </div>
                </div>
            </div>
            <div class="spacer">
                <br>
            </div>
        </div>
        <div *ngIf="past">
            <div class="img-container">
                <img [src]="alumniImage" class="banner">
                <div class="img-overlay">
                    <div class="overlay-title" [innerHTML]="alumniTitle"></div>
                </div>
            </div>
            <div class="people">
                <div class="person" *ngFor="let a of alumni">
                    <app-person [person]="a" ></app-person>
                </div>
            </div>
            <div class="not-pictured container">
                <div class="titles">Not Pictured</div>
                <span [innerText]="notPictured"></span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>