{% extends 'layouts/default.twig' %}

{% block title %}About the Team{% endblock %}

{% block pageid %}about{% endblock %}

{% block main %}
<h1>About the Team</h1>
<p class="lead">Our organization was founded in 1990 as the Sunseeker Solar Car Project. We are a team of students from Western Michigan University in Kalamazoo, Michigan that builds and races solar powered vehicles.</p>
<section class="information">
  <h2>Who are we?</h2>
  <p>Our team is about 30 strong, we come from many acedemic disciplines including: engineering, finance, marketing, programming, etcetera. If you're interested, and are a current Western Michigan University student, <a href="{{ url_prefix }}join-the-team">join the team</a>!</p>
  <h2>What do we do?</h2>
  <p>We build and race solar powered vehicles. We are one of many teams from around the world that competes in the annual Formula Sun Grand Prix and also the <a href="http://americansolarchallenge.org" target="_blank">American Solar Challenge</a> that is held every other summer.</p>
  <h2>Where and when?</h2>
  <p>We meet once a week during the fall and spring semesters. If you want to join, all you need to do is attend our meetings and participate! Take a look at our <a href="{{ url_prefix }}join-the-team">meeting times</a>, and see where you need to be and when.</p>
  <h2>Why? (Our Mission)</h2>
  <p>To raise awareness of clean, renewable energy sources by demonstrating our student-built solar powered vehicle.</p>
</section>
<section class="slideshow">
  Picture goes here.
</section>
<div class="clearfix"></div>
{% endblock %}