{% extends 'layouts/default.twig' %}

{% block title %}Our Car{% endblock %}

{% block pageid %}our-car{% endblock %}

{% block content %}
<img src="assets/images/our-car/in_front_of_turn_one.jpg" class="of-car">
<section class="description">
  <h1>Sunseeker 2010</h1>
  <p>The 2010 car is the most recent solar car produced by the team. It was completed in 2010, and is the primary vehicle used by the team for races and other events. It has competed in all American Solar Challenge (3) and Formula Sun Grand Prix (5) races since its debut. The car is not likely to compete in any more races due to new regulations, and the age of the car itself making it harder to maintain.</p>
  <h3>Fun Facts</h3>
  <ul>
    <li>The car is the first three-wheeled design produced by the team.
    <li>The car is one of only a few three-wheeled designs with two powered wheels.
    <li>The car is numbered 20 because it was completed during the team's 20th anniversary in 2010. All of our other cars are numbered 786 which represents the numbers you would hit on an old phone numpad to type out "SUN".
  </ul>
</section>
<section class="stats">
<table>
  <thead>
    <tr>
      <th colspan="2">Mechanical Specifications</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Weight with Driver</td>
      <td><span style="cursor: help; border-bottom: 1px dotted #000;" title="Official weight for FSGP/ASC 2014 which was determined during scrutineering.">781 lb / ~354 kg</span></td>
    </tr>
    <tr>
      <td>Body and Frame</td>
      <td>Fiberglass, carbon fiber and Innegra composite with steel roll cage</td>
    </tr>
    <tr>
      <td>Front Suspension</td>
      <td>Machined aluminium unequal A-arm</td>
    </tr>
    <tr>
      <td>Rear Suspension</td>
      <td>Steel tube trailing arm</td>
    </tr>
    <tr>
      <td>Rims</td>
      <td>Carbon Fiber (By GHCraft)</td>
    </tr>
    <tr>
      <td>Tires</td>
      <td>14 inch Bridgestone Ecopia</td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th colspan="2">Electrical Specifications</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solar Cells</td>
      <td>Sunpower A-300 (372 total)</td>
    </tr>
    <tr>
      <td>Solar Array Area</td>
      <td>65 ft<sup>2</sup> / 6 m<sup>2</sup></td>
    </tr>
    <tr>
      <td>Solar Array Output</td>
      <td>1.2 kW</td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>Lithium Polymer</td>
    </tr>
    <tr>
      <td>Battery Weight</td>
      <td>44 lb / 20 kg</td>
    </tr>
    <tr>
      <td>Motors</td>
      <td>6HP CSIRO with stationary axle (One for each front wheel)</td>
    </tr>
    <tr>
      <td>Top Speed</td>
      <td>80 mph / 130 kmh</td>
    </tr>
  </tbody>
</table>
</section>
<div class="clearfix"></div>
{% endblock %}
