{% macro generate(page, pages, urnName) %}
{% set prevPage = page - 1 %}
{% set nextPage = page + 1 %}

<div class="pagination">
  <div class="btn-group">
    <a {% if prevPage > 0 %}href="{{ generateUrn(urnName, [prevPage]) }}"{% else %}disabled="disabled"{% endif %} class="btn btn-md btn-gold">&larr; Previous</a>
    <a {% if nextPage <= pages %}href="{{ generateUrn(urnName, [nextPage]) }}"{% else %}disabled="disabled"{% endif %} class="btn btn-md btn-gold">Next &rarr;</a>
  </div>
</div>
{% endmacro %}
